*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

nav{
    padding: 1rem;
    background-color: rgb(253, 125, 233);

}

.nav-con{
    display: flex;
    justify-content: space-between;
}

.logo a{
    font-size: 5rex;
    color: #071B5F;
    text-decoration: none;
    display: flex;

}

.tbs-img{
    display: flex;
    align-items: center;
    margin: 0 1rex;
}

.container-img{
    display: flex;
    align-items: center;
}

.member {
    display: flex;
    list-style: none;
    align-items: center;
    color: #B0C3FD;
}

.member li {
margin: 0 1rex;
}

.member li a {
    color: #071B5F;
    text-decoration: none;
    font-size: 25px;

}

.maincontent{
    background-color: #facbea;
}

.maincontent-con{
    display: flex;
}

.maincontent-info{
    width: 100%;
    padding: 1rem;
}

.maincontent-info h3{
    font-size: 2rem;
}

.maincontent-info p{
    margin: 1rem 0;
}

.maincontent-info .maincontent-btn{
    background-color: #A341F9;
    color: #FABD43;
    padding: 1rem;
    border-radius: 5px;
    text-decoration: none;
    margin: 1rem 0;
}

.maincontent-img{
    width: 50%;
    padding: 2rem;
    border-radius: 5px;
}

.content-con{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
    text-decoration: none;
}

.content-title{
    margin: 2rem 0;
}

.content-item img{
    width: 100%;
}

.content-item h4{
    margin-top: 1rem;
}

.content-item p{
    margin: 1rem 0;
}

.content-item a{
    display: inline-block;
    color: #FABD43;
    background-color: #A341F9;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    text-decoration: none;
}

.footer-top{
    margin-top: 2rem;
    padding: 3rem;
    background-color: rgb(249, 208, 241);
    color: rgb(8, 11, 13);
}

.footer-top-con{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
}

.footer-top-item-con{
    display: flex;
    margin: 1rem 0;
}

.footer-top-item-con .date{
    background-color: aliceblue;
    color: black;
    padding: 0.5rem;
    border-radius: 5px;
    text-align: center;
    margin-right: 10px;
}
 
.footer-top-item:nth-child(2) h4,
.footer-top-item:nth-child(3) h4{
    margin-bottom: 1rem;

}

.footer-btn{
    background-color: #A341F9;
    text-align: center;
    padding: 2rem;
}